@import url('./styles/fonts.css');
@import url('./styles/colors.css');
@import url('./styles/reset.css');

html {
  font: 16px/1.5 Roboto, Arial, sans-serif;
}

body,
input[type="text"] {
  font: inherit;
}

main {
  background-color: hsl(240, 20%, 97%);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100dvh;
  padding: 70px 10px 150px;
}

main>ul {
  display: flex;
  flex-direction: column;
  width: min(400px, 100%);
  gap: 20px;
}

.todo-logo {
  background-color: var(--yt-clr);
  box-shadow: 0 0 10px var(--bk-ish-clr);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
}

.todo-logo p {
  color: hsl(40, 30%, 50%);
  font-size: 1.8rem;
  font-weight: 300;
}

.todo-logo img {
  filter: invert(74%) sepia(33%) saturate(538%) hue-rotate(2deg) brightness(127%) contrast(78%);
  width: 24px;

  &:first-of-type {
    margin-right: 8px;
  }
}

.empty-list-container {
  margin: auto 0;
}

.empty-list-text {
  color: hsl(0, 1%, 55%);
  margin-top: 15px;
  text-align: center;
}

.empty-list-img {
  width: 200px;
  max-width: 100%;
}

form {
  background-color: var(--yt-clr);
  box-shadow: 0 0 10px var(--bk-ish-clr);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 10px;
  height: 130px;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

form>input,
form>button {
  width: min(400px, 100%);
  border: none;
  border-radius: 15px;
}

form>input {
  background-color: hsl(240, 20%, 95%);
  margin-bottom: auto;
  padding: 10px 20px;

  &:focus {
    outline: none;
  }
}

form>button {
  background-color: hsl(35, 59%, 79%);
  display: flex;
  justify-content: center;
  padding: 5px;
  cursor: pointer;
}

form>button>svg {
  fill: var(--yt-clr);
}

.todo-element {
  background-color: hsl(0, 0%, 90%);
  display: flex;
  align-items: center;
  padding: 0 15px;
  border-radius: 15px;
}

.todo-text {
  color: hsl(0, 1%, 20%);
  padding: 15px;
  flex-grow: 1;
  overflow-wrap: anywhere;
}

.todo-delete-button {
  display: flex;
  background: none;
  border: none;
  cursor: pointer;
}

.todo-delete-button svg {
  fill: var(--gy-ish-clr);
}

.todo-custom-checkbox {
  display: flex;
  align-items: center;
  width: 24px;
  height: 24px;
  border: 2px solid var(--yt-clr);
  border-radius: 50%;
  cursor: pointer;
}

.todo-custom-checkbox svg {
  fill: transparent;
}

input[type="checkbox"]:checked~.todo-custom-checkbox svg {
  fill: var(--yt-clr);
}

input[type="checkbox"]:checked~.todo-custom-checkbox {
  background-color: var(--gy-ish-clr);
}

input[type="checkbox"]:checked~.todo-text {
  color: var(--gy-ish-clr);
}

input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  clip-path: rect(0 0 0 0);
}

input[type="checkbox"]:focus+label {
  border: 2px solid hsla(170, 55%, 5%, 0.3);
}