:root {
  --yt-clr: hsl(0, 100%, 100%);
  --gy-ish-clr: hsl(212, 5%, 75%);
  --bk-ish-clr: hsla(0, 100%, 0%, 0.05);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Roboto, Arial;
}

body {
  background-color: hsl(240, 20%, 97%);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 50px 10px 130px;
  overflow-y: scroll;
}

.todo-logo {
  background-color: var(--yt-clr);
  box-shadow: 5px 0 10px var(--bk-ish-clr);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
}

.todo-logo p {
  color: hsl(40, 40%, 60%);
  font-size: 1.8rem;
  font-weight: 300;
}

.todo-logo svg {
  fill: hsl(40, 60%, 65%);
  &:nth-child(2) {
    margin-right: 8px;
  }
}

.empty-msg-container {
  margin: auto 0;
}

.empty-list-text {
  color: hsl(0, 1%, 55%);
  margin-top: 15px;
  text-align: center;
}

.empty-list-img {
  width: 200px;
  max-width: 100%;
}

.wrapper {
  width: 400px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.input {
  background-color: hsl(240, 20%, 95%);
  margin-bottom: auto;
  padding: 10px 20px;
  &:focus {
    outline: none;
  }
}

.button {
  background-color: hsl(40, 40%, 80%);
  color: var(--yt-clr);
  font-size: 1.2rem;
  padding: 10px;
  cursor: pointer;
  &:hover {
    background-color: hsl(40, 40%, 75%);
  }
}

.input,
.button {
  width: 400px;
  max-width: 100%;
  border: none;
  border-radius: 15px;
}

form {
  background-color: var(--yt-clr);
  box-shadow: 5px 0 10px var(--bk-ish-clr);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 10px;
  height: 130px;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.todo {
  background-color: hsl(0, 0%, 90%);
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding: 0 12px;
  border-radius: 15px;
  &:last-child {
    margin-bottom: 20px;
  }
}

.todo-text {
  color: hsl(0, 1%, 20%);
  flex-grow: 1;
  padding: 15px;
  line-height: 1.5;
  transition: 150ms ease;
  overflow-wrap: anywhere;
}

.delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
}

.delete-button svg {
  fill: var(--gy-ish-clr);
  transition: 150ms ease;
  &:hover {
    fill: hsl(213, 4.5%, 39%);
  }
}

.custom-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  border: 2px solid var(--yt-clr);
  border-radius: 50%;
  transition: 150ms ease;
  cursor: pointer;
}

.custom-checkbox svg {
  fill: transparent;
}

input[type="checkbox"]:checked ~ .custom-checkbox {
  background-color: var(--gy-ish-clr);
}

input[type="checkbox"]:checked ~ .custom-checkbox svg {
  fill: var(--yt-clr);
}

input[type="checkbox"]:checked ~ .todo-text {
  color: var(--gy-ish-clr);
}

input[type="checkbox"] {
  display: none;
}